<div class="tile white m-b-10 padding-20">
	<div class="tile-title">
		<h3 class="m-t-0 m-b-10"><%= title %></h4>
		<%- toolsService.getFlashMessage(req.flash()) %>
	</div>
	<div class="tile-body p-t-20">
			<form class="" method="post" autocomplete="off">							
				<div class="account-form">
					<div class="row m-b-20">
						<div class="col-md-3">
							<label for="LoginPassword"><%- req.session.getTranslation('Password') %></label>
						</div>
						<div class="col-md-4">
							<div class="widget-col">
								<input name="LoginPassword" id="LoginPassword" type="password" class="form-control" value="" />
							</div>
						</div>
					</div>
					<div class="row m-b-20">
						<div class="col-md-3">
							<label for="LoginPasswordConfirm"><%- req.session.getTranslation('Password_confirmation') %></label>
						</div>
						<div class="col-md-4">
							<div class="widget-col">
								<input name="LoginPasswordConfirm" id="LoginPasswordConfirm" type="password" class="form-control" rel="#LoginPassword" value="" />
							</div>
						</div>
					</div>
                </div>
				<div>
					<button class="btn btn-primary btn-cons" type="submit"><%- req.session.getTranslation('Save') %></button>
					<a class="btn btn-white btn-cons" href="/account/profile"><%- req.session.getTranslation('Cancel') %></a>
				</div>
			</form>
	</div>
</div>
