<div class="row login-container">
	<div class="col-md-10 col-xs-10 text-center centered">
		<img src="/img/logo-ue.png" />
		<p class="text-black m-t-20 m-b-5"><%- req.session.getTranslation('Program_operational_sectorial') %></p>
		<p class="text-black m-b-5"><%- req.session.getTranslation('Proiect_cofinantat') %></p>
		<div class="text-center m-t-10 m-b-10"><img src="/img/logo-disponibil.png" /></div>
	</div>
	<div class="row no-margin">
		<div class="col-md-8 col-md-offset-2 col-xs-4 p-r-5">
			<div class="tile">
				<div class="tile-title m-t-0 p-l-5">
					<h4 class="bold"><%- req.session.getTranslation('Recover_password') %></h4>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-5 text-center centered">
		<p class="text-white m-t-20 m-b-10"><%- req.session.getTranslation('Informatii_fonduri_ue') %></p>
		<p class="text-white m-b-20"><%- req.session.getTranslation('Continut_material') %></p>
	</div>
</div>
