<div class="tile white m-b-10 padding-20">
	<div class="tile-title">
		<h3 class="m-t-0 m-b-10"><%= title %></h4>
		<%- toolsService.getFlashMessage(req.flash()) %>
	</div>
	<div class="tile-body p-t-20">
		<form class="form-no-horizontal-spacing account-form" id="reports-form" method="post" autocomplete="off">	
			<div class="row form-row">
				<div class="form-group col-md-3">
					<label class="form-label"><%- req.session.getTranslation('Start_date') %></label>
					<div class="input-group">
						<input type="text" class="form-control required" id="report_StartDate" name="StartDate" data-date-format="yyyy-mm-dd" value="<%- req.param('StartDate') %>" />
						<span class="input-group-addon primary">		
							<span class="arrow"></span>
							<i class="fa fa-align-justify"></i>		
						</span>
					</div>
				</div>
				<div class="form-group col-md-3">
					<label class="form-label"><%- req.session.getTranslation('End_date') %></label>
					<div class="input-group">
						<input type="text" class="form-control required" id="report_EndDate" name="EndDate" data-date-format="yyyy-mm-dd" value="<%- req.param('EndDate') %>" />
						<span class="input-group-addon primary">		
							<span class="arrow"></span>
							<i class="fa fa-align-justify"></i>		
						</span>
					</div>
				</div>
				<div class="form-group col-md-3">
					<label class="form-label">&nbsp;</label>
					<div class="clearfix"></div>
					<div class="pull-left">
						<button class="btn btn-danger btn-cons" type="submit"><%- req.session.getTranslation('View') %></button>
					</div>
				</div>
			</div>
		</form>
		<div class="clearfix"></div>
		<% if(typeof table !='undefined') { %>
		<div class="padding-20 no-border">
			<table class="table table-hover table-condensed" id="example-table">
				<thead>
					<tr>
						<% for(var i=0;i<table.length;i++) { %>
						<th><%- table[i].Name %></th>
						<% } %>
					</tr>
				</thead>
				<tbody>
					<% if(data.length>0) { _.each(data,function(item) { %>
					<tr>
						<% for(var i=0;i<table.length;i++) { %>
						<td class="v-align-middle"><%- ((table[i].Name=='Ring') || (table[i].Name=='Activ'))  ? req.session.getTranslation(item[table[i].Name]) : item[table[i].Name] %></td>
						<% } %>
					</tr>
					<% }); } %>
				</tbody>
			</table>
		</div>	
		<% } %>
	</div>
</div>
