    <div class="content">
      <div class="page-title">
		<i class="icon-custom-left"></i>
        <h3>Ordine</h3>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <div class="grid simple">
			<div class="grid-title no-border">
				<%- toolsService.getFlashMessage(req.flash()) %>
				<div class="">
					<div class="pull-left col-md-3">
						<a href="/admin/orders/add" class="btn btn-info"><i class="fa fa-plus-circle"></i>&nbsp;Adauga ordin</a>
					</div>
					<div class="pull-left col-md-1 p-t-10">
						<label>Activ</label>
					</div>
					<div class="pull-left col-md-3">
						<div class="form-group">
							<div class="controls">
								<select id="asset-filter" class="form-control" data-url="/admin/orders?asset=">
								  <option value=""></option>
								  <% _.each(req.session.assets,function(asset) { %>
								  <option value="<%= asset.ID %>" <%- ((typeof req.param('asset')!='undefined' && req.param('asset')==asset.ID)?'selected=""':'') %>><%= asset.Name %></option>
								  <% }); %>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="grid-body no-border">
				<table class="table table-hover table-condensed admin-table" id="example-table">
					<thead>
						<tr>
							<th class="v-align-middle" style="width:10%">Ring</th>
							<th class="v-align-middle" style="width:10%">Activ</th>
							<th class="v-align-middle" style="width:5%">Directie</th>
							<th class="v-align-middle" style="width:10%">Cantitate</th>
							<th class="v-align-middle" style="width:10%">Pret</th>
							<th class="v-align-middle" style="width:10%">Data expirare</th>
							<th class="v-align-middle" style="width:5%">&nbsp;</th>
							<th class="v-align-middle" style="width:5%">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<% if(items.length>0) { _.each(items,function(item) { %>
						<tr>
							<td class="v-align-middle"><%= req.session.rings[toolsService.searchIdInArray(item.ID_Ring,req.session.rings)]['Name'] %></td>
							<td class="v-align-middle"><%= (toolsService.searchIdInArray(item.ID_Asset,req.session.assets)>-1 ? req.session.assets[toolsService.searchIdInArray(item.ID_Asset,req.session.assets)]['Name'] : '-' ) %></td>
							<td class="v-align-middle"><%- (item.Direction=='B'?'BID':'ASK') %></td>
							<td class="v-align-middle"><%= item.Quantity %></td>
							<td class="v-align-middle"><%= item.Price %></td>
							<td class="v-align-middle"><%= item.ExpirationDate %></td>
							<td><a href="/admin/orders/edit/<%= item.ID %>" class="action-icon btn btn-small btn-success" title="Editeaza"><i class="fa fa-edit"></i></a></td>
							<td><a href="/admin/orders/delete/<%- item.ID %>" title="Sterge" class="action-icon delete-confirm btn btn-small btn-danger"><i class="fa fa-trash-o"></i></a></td>
						</tr>
						<% }); } %>
					</tbody>
				</table>
			</div>
          </div>
        </div>
      </div>
    </div>
