<div class="content">
	<div class="page-title">
		<ul class="breadcrumb">
			<li>
				<a href="/admin"><i class="fa fa-home"></i></a>
			</li>
			<li>
				<a href="/admin/assets" class="active">Active</a>
			</li>
		</ul>
	</div>
      <div class="row-fluid">
        <div class="span12">
          <div class="grid simple">
			<div class="grid-title no-border">
				<%- toolsService.getFlashMessage(req.flash()) %>
				<div class="">
					<div class="pull-left col-md-3">
						<a href="/admin/assets/add<%- ring ? '?ring='+ring.ID : assetType ? '?asset_type='+assetType.ID : '' %>" class="btn btn-info"><i class="fa fa-plus-circle"></i>&nbsp;Adauga activ</a>
					</div>
					<div class="pull-left col-md-1 p-t-10">
						<label>Ring</label>
					</div>
					<div class="pull-left col-md-3">
						<div class="form-group">
							<div class="controls">
								<select class="list-filter form-control select2" data-url="/admin/assets?ring=">
								  <option value=""></option>
								  <% _.each(req.session.rings,function(item) { %>
								  <option value="<%= item.ID %>" <%- ((ring && ring.ID==item.ID) || (assetType && assetType.ID_Ring==item.ID) ? 'selected=""' : '') %>><%= req.session.getTranslation(item.Name) %></option>
								  <% }); %>
								</select>
							</div>
						</div>
					</div>
					<div class="pull-left col-md-1 p-t-10">
						<label>Activ suport</label>
					</div>
					<div class="pull-left col-md-3">
						<div class="form-group">
							<div class="controls">
								<select class="list-filter form-control select2" data-url="/admin/assets?asset_type=">
								  <option value=""></option>
								  <% _.each(req.session.assetTypes,function(item) { %>
									<% if((ring && ring.ID==item.ID_Ring) || (assetType && assetType.ID_Ring==item.ID_Ring)) { %>
										<option value="<%= item.ID %>" <%- ((assetType && assetType.ID==item.ID) ? 'selected=""' : '') %>><%= req.session.getTranslation(item.Name) %></option>
									<% } %>
								  <% }); %>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="grid-body no-border">
				<table class="table table-hover table-condensed admin-table" id="example-table">
					<thead>
						<tr>
							<th class="v-align-middle" style="width:25%">Nume</th>
							<th class="v-align-middle" style="width:10%">Cod</th>
							<th class="v-align-middle" style="width:10%">Ring</th>
							<th class="v-align-middle" style="width:5%">Activ</th>
							<th class="v-align-middle" style="width:5%">Sedinta electronica</th>
							<th class="v-align-middle" style="width:5%">Directie</th>
							<th class="v-align-middle" style="width:5%">Client</th>
							<th class="v-align-middle" style="width:5%">Valabilitate</th>
							<th class="v-align-middle" style="width:5%">&nbsp;</th>
							<th class="v-align-middle" style="width:5%">&nbsp;</th>
							<th class="v-align-middle" style="width:5%">&nbsp;</th>
							<th class="v-align-middle" style="width:5%">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<% if(items.length>0) { _.each(items,function(item) { %>
						<tr>
							<td class="v-align-middle"><%= req.session.getTranslation(item.Name) %></td>
							<td class="v-align-middle"><%= item.Code %></td>
							<td class="v-align-middle"><%= (toolsService.searchIdInArray(item.ID_Ring,req.session.rings)>-1 ? req.session.getTranslation(req.session.rings[toolsService.searchIdInArray(item.ID_Ring,req.session.rings)]['Name']) : '-') %></td>
							<td class="v-align-middle"><%- (item.isActive?'Da':'Nu') %></td>
							<td class="v-align-middle"><%- item.isElectronicSession ? 'Da' : 'Nu' %></td>
							<td class="v-align-middle"><%- item.ID_InitialOrder ? (item.Direction=='B' ? 'Cumparare' : 'Vanzare') : 'Dublu competitiva' %></td>
							<td class="v-align-middle"><%- item.ID_InitialOrder ? toolsService.getArrayItem(req.session.clients,item.ID_Client,'ClientName') + ' (' + toolsService.getArrayItem(req.session.clients,item.ID_Client,'Code') + ')': '' %></td>
							<td class="v-align-middle"><%- item.ExpirationDate ? timeService.formatDate(item.ExpirationDate,'DD MMM YYYY') : '' %></td>
							<!--added by Alex on 20150510 -->
							<td class="v-align-middle ">
								<div class="btn-group">
									<a class="btn btn-small dropdown-toggle btn-primary" data-toggle="dropdown" href="#">Raport <span class="caret"></span> </a>
									<ul class="dropdown-menu">
										<li><a href="/admin/reports/assets/participants/<%= item.ID %>">Participanti la sedinta</a></li>
										<li><a href="/admin/reports/assets/orders/<%= item.ID %>">Ordine</a></li>
										<li><a href="/admin/reports/assets/transactions/<%= item.ID %>">Tranzactii</a></li>
										<li><a href="/admin/reports/assets/warranties/<%= item.ID %>">Garantii</a></li>
										<li><a href="/admin/reports/assets/documents/<%= item.ID %>">Documente</a></li>
										<li><a href="/admin/reports/assets/quotes/<%= item.ID %>">Cotatii</a></li>
										<li><a href="/admin/reports/assets/tradeparams/<%= item.ID %>">Parametrii tranzactionare</a></li>
									</ul>
								</div>
							</td>
							<!----------------------------->
							<td><a href="/admin/assets/duplicate/<%= item.ID %>" class="action-icon btn btn-small btn-demo-space" title="Duplica ordin"><i class="fa fa-external-link"></i></a></td>
							<td><a href="/admin/assets/edit/<%= item.ID %>" class="action-icon btn btn-small btn-success" title="Editeaza"><i class="fa fa-edit"></i></a></td>
							<td><a href="/admin/assets/delete/<%- item.ID %>" title="Sterge" class="action-icon delete-confirm btn btn-small btn-danger"><i class="fa fa-trash-o"></i></a></td>
						</tr>
						<% }); } %>
					</tbody>
				</table>
			</div>
          </div>
        </div>
      </div>
    </div>
