    <div class="content">
	<div class="page-title">
		<ul class="breadcrumb">
			<li>
				<a href="/admin"><i class="fa fa-home"></i></a>
			</li>
			<% if(agency) { %>
			<li>
				<a href="/admin/agencies" class="">Agentii</a>
			</li>
			<li>
				<a href="/admin/agencies/edit/<%- agency.ID %>#tab-contacts" class=""><%- agency.AgencyName %></a>
			</li>                    
			<% } else { %>
			<li>
				<a href="/admin/contacts" class="">Contacte</a>
			</li>
			<% } %>
			<li>
				<a href="/admin/contacts/<%- (req.param('id') ? 'edit/'+req.param('id') : 'add') %>?agency=<%- req.param('agency') %>" class="active"><%- (req.param('id')?'Modificare':'Adaugare') %> contact</a>
			</li>                    
		</ul>
	</div>
      <div class="row">
        <div class="col-md-12">
          <div class="grid simple">
            <div class="grid-title no-border">
				<%- toolsService.getFlashMessage(req.flash()) %>
			</div>
            <div class="grid-body no-border">
			<form class="form-no-horizontal-spacing" id="contact-form" method="post" autocomplete="off">	
              <div class="row column-seperation">
                <div class="col-md-6">
                  <h4>Informatii personale</h4>            
                    <div class="row form-row">
                      <div class="col-md-6">
						<label for="FirstName">Prenume</label>
						<div class="widget-col">
							<input name="FirstName" id="FirstName" type="text"  class="form-control required" value="<%- (typeof item!='undefined'?item.FirstName:'') %>" />
						</div>
                      </div>
                      <div class="col-md-6">
						<label for="LastName">Nume</label>
						<div class="widget-col">
							<input name="LastName" id="LastName" type="text"  class="form-control required" value="<%- (typeof item!='undefined'?item.LastName:'') %>" />
						</div>
                      </div>
                    </div>
                    <div class="row form-row">
                      <div class="col-md-6">
						<label for="SocialCode">CNP</label>
						<div class="widget-col">
							<input name="SocialCode" id="SocialCode" type="text"  class="form-control" value="<%- (typeof item.SocialCode!='undefined'?item.SocialCode:'') %>" />
						</div>
                      </div>
                      <div class="col-md-6">
						<label for="IdentityCard">Carte de indentitate</label>
						<div class="widget-col">
							<input name="IdentityCard" id="IdentityCard" type="text"  class="form-control" value="<%- (typeof item.IdentityCard!='undefined'?item.IdentityCard:'') %>" />
						</div>
                      </div>
                    </div>
					
                  <h4>Date contact</h4>
                  
                    <div class="row form-row">
                      <div class="col-md-12">
						<label for="Email">Email</label>
						<div class="widget-col">
							<input name="Email" id="Email" type="email"  class="form-control" value="<%- (typeof item!='undefined'?item.Email:'') %>" />
						</div>
                      </div>
                    </div>
                    <div class="row form-row">
                      <div class="col-md-4">
						<label for="Phone">Telefon</label>
						<div class="widget-col">
							<input name="Phone" id="Phone" type="text"  class="form-control" value="<%- (typeof item.Phone!='undefined'?item.Phone:'') %>" />
						</div>
                      </div>
                      <div class="col-md-4">
						<label for="Fax">Fax</label>
						<div class="widget-col">
							<input name="Fax" id="Fax" type="text"  class="form-control" value="<%- (typeof item.Fax!='undefined'?item.Fax:'') %>" />
						</div>
                      </div>
                      <div class="col-md-4">
						<label for="Mobile">Mobil</label>
						<div class="widget-col">
							<input name="Mobile" id="Mobile" type="text"  class="form-control" value="<%- (typeof item.Mobile!='undefined'?item.Mobile:'') %>" />
						</div>
                      </div>
                    </div>
                </div>
                <div class="col-md-6">
				
					<div class="checkbox check-default">
						<input id="isBroker" name="isBroker" type="checkbox" value="1" <%- (typeof item.isBroker!='undefined' && item.isBroker) || req.param('broker')=='1' ? 'checked=""' : '' %> />
						<label for="isBroker"><h4 style="margin-top:0">Profil Operator</h4></label>
					</div>
					<div id="toggleBroker" <% if((typeof item.isBroker=='undefined' || !item.isBroker) && !req.param('broker')) { %>style="display:none"<% } %>>
                  <h4>Detalii autentificare</h4>            
                    <div class="row form-row">
                      <div class="col-md-12">
						<label for="LoginName">Username</label>
						<div class="widget-col">
							<input name="LoginName" id="LoginName" type="text" class="form-control required" value="<%- (typeof item!='undefined'?item.LoginName:'') %>" />
						</div>
                      </div>
                    </div>
                    <div class="row form-row">
                      <div class="col-md-6">
						<label for="LoginPassword">Parola</label>
						<div class="widget-col">
							<input name="LoginPassword" id="LoginPassword" type="password" class="form-control <%- !req.param('id') ? 'required' : '' %>" value="" />
						</div>
                      </div>
                      <div class="col-md-6">
						<label for="LoginPasswordConfirm">Confirmare parola</label>
						<div class="widget-col">
							<input name="LoginPasswordConfirm" id="LoginPasswordConfirm" type="password" class="form-control <%- !req.param('id') ? 'required' : '' %>" rel="#LoginPassword" value="" />
						</div>
                      </div>
                    </div>
                    </div>
             
                </div>
              </div>
				<div class="form-actions">
					<div class="pull-left">
					  <button class="btn btn-primary btn-cons" type="submit"><i class="icon-ok"></i> Salveaza</button>
					  <a class="btn btn-white btn-cons" href="/admin/agencies/edit/<%- agency.ID %>#tab-contacts">Renunta</a>
					</div>
				  </div>
			</form>
            </div>
          </div>
        </div>
      </div>
    </div>
